---
- name: Set up SSH Settings.
  hosts: picloud
  gather_facts: true
  become: true

  vars_files:
    - ../../vars/picloud.yml

  tasks:
    - name: Update sshd_config
      become: true
      blockinfile:
        dest: "/etc/ssh/sshd_config"
        insertafter: "^Include /etc/ssh/sshd_config"
        block: |
          # Protocol 2
          # PasswordAuthentication no
          PermitEmptyPasswords no
          PermitRootLogin no
          MaxAuthTries 3

    - name: Restart sshd service
      become: true
      service:
        name: sshd
        state: restarted
        enabled: true

    - name: Print Ansible user
      debug:
        msg: "Ansible is running as {{ ansible_user }}"

    - name: Create .ssh directory if it doesn't exist
      file:
        path: "/home/pi/.ssh"
        state: directory

    - name: Generate the key
      community.crypto.openssh_keypair:
        path: "/home/pi/.ssh/id_ed25519"
        type: ed25519

    - name: Capture pub key
      shell: cat "/home/pi/.ssh/id_ed25519.pub"
      register: ssh_key

    - name: Print pub key
      debug:
        msg: "{{ ssh_key.stdout }}"

    - name: Add pub key to authorized_keys
      authorized_key:
        user: pi
        key: "{{ ssh_key.stdout }}"
        state: present
