[defaults]
nocows = true
inventory = hosts.ini
roles_path = roles
collections_path = ~/.ansible/collections:/usr/share/ansible/collections
interpreter_python = /usr/bin/python3
host_key_checking = False
deprecation_warnings = False
gathering = smart
forks = 48
pipelining = True

[ssh_connection]
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s
pipelining = True